<table border="1">
		<tr>
			<th> Name </th>
			<th> Username </th>
			<th> Division </th>
			<th> Department </th>
		</tr>
	<% @users.each do |u| %>
		<tr>
			<td> <%= u.name %> </td>
			<td> <%= u.username %> </td>
			<td> <%= u.division %> </td>
			<td> <%= u.department %> </td>
		</tr>
	<% end %>
</table>
<% if cookies.signed[:user_id] == 1 %>
	<%= link_to "Add User", :controller => "users", :action => "new" %> 
	<%= link_to "Edit User", :controller => "users", :action => "chooseUser" %>
<% end %>
