<h2> New User </h2>
<% if cookies.signed[:user_id] == 1 %>
	<%= form_for :user, :url => { :action=> "create" } do |f| %>
		<%= f.label "Name: " %> <%= f.text_field :name %> <br />
		<%= f.label "Username: " %> <%= f.text_field :username %> <br />
		<%= f.label "Password: " %> <%= f.password_field :password %> <br />
		<%= f.label "Division: " %> <%= f.text_field :division %> <br />
		<%= f.label "Department: " %> <%= f.text_field :department %> <br />
		<%= f.submit "Submit" %>
	<% end %>
<% end %>
