<h2> Login </h2>
<%= form_for :user, :url => { :action => "login" } do |f| %>
	<%= f.label "Username: " %> <%= f.text_field :username %> <br />
	<%= f.label "Password: " %> <%= f.password_field :password %> <br />
	<%= f.submit "Submit" %>
<% end %>
<br />
<%= link_to "Public Page", url= "http://localhost:3000/bin/project2x.html" %>
